# **16** Records and Tuples

Records allow us to aggregate data together.

We can define a record type:

In [1]:
type student = {
	name : string;
	year : int; (* graduation year*)
}

type student = { name : string; year : int; }

We can then create values of the record type

In [2]:
let rbg = {
	name = "Ruth Bader";
	year = 1954;
}

val rbg : student = {name = "Ruth Bader"; year = 1954}

> Fun fact! If we want to include code we've written in a file in utop via the `use` directive: `#use "filename.ml"`.

We can access a _field_ in a record with the `.` operator

In [3]:
rbg.name;;

- : string = "Ruth Bader"

---

Another basic kind of data type is a _tuple_. They're like records; however, they're unnamed.

In [4]:
(10, 10, "am");;

- : int * int * string = (10, 10, "am")

This is a tuple with 3 values. We can even give this tuple type a name.

In [5]:
type time = int * int * string;;

type time = int * int * string

In [6]:
(10, 10, "am");;

- : int * int * string = (10, 10, "am")

In [7]:
let t : time = (10, 10, "am");;

val t : time = (10, 10, "am")

These two values (`[6]` and `[7]`) are the same.

In [8]:
type point = float * float;;

type point = float * float

In [9]:
let p = (5., 3.5);;

val p : float * float = (5., 3.5)

Say we wanted to access the elements of this tuple. OCaml defines the `fst` and `snd` methods that get the first and second items from a tuple respectively.

In [10]:
fst;;

- : 'a * 'b -> 'a = <fun>

In [11]:
snd;;

- : 'a * 'b -> 'b = <fun>

In [12]:
fst p;;

- : float = 5.

In [13]:
snd p;;

- : float = 3.5

It's important to note that these only work on pairs. OCaml will throw an error if we don't have a pair

In [14]:
fst t;; (* our time tuple from earlier *)

error: compile_error